<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inquiries" href="/tabs/inquiries">
      <ion-icon aria-hidden="true" name="help-circle-outline"></ion-icon>
      <ion-label>Inquiries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" href="/tabs/add">
      <ion-icon aria-hidden="true" name="add-circle-outline" style="height: 100px; width: 100px;"></ion-icon>
      <!-- <ion-label>Add Items</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
