<ion-header>
  <ion-toolbar>
    <ion-title>Add Lost Property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="add-content">
  <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="addItemForm.get('name')?.invalid && addItemForm.get('name')?.touched">
      <p class="error-message">Name is required.</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="addItemForm.get('description')?.invalid && addItemForm.get('description')?.touched">
      <p class="error-message">Description is required.</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Box</ion-label>
      <ion-select formControlName="box">
        <ion-select-option *ngFor="let location of locations" [value]="location">{{ location }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="addItemForm.get('box')?.invalid && addItemForm.get('box')?.touched">
      <p class="error-message">Box is required.</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bag</ion-label>
      <ion-input formControlName="bag" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="addItemForm.get('bag')?.invalid && addItemForm.get('bag')?.touched">
      <p class="error-message">Bag is required.</p>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Found Location</ion-label>
      <ion-input formControlName="foundLocation" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="addItemForm.get('foundLocation')?.invalid && addItemForm.get('foundLocation')?.touched">
      <p class="error-message">Found Location is required.</p>
    </ion-item>

    <ion-item>
      <ion-label>Upload Image</ion-label>
      <input type="file" (change)="onFileChange($event)" />
    </ion-item>

    <ion-item>
      <ion-button expand="full" type="submit">Save Item</ion-button>
    </ion-item>
  </form>

  <ion-item>
    <ion-button expand="full" (click)="resetForm()">Clear Form</ion-button>
  </ion-item>
</ion-content>
